:root {
  --color-primary: #4C70F0;
  --color-primary-lighter: #EAF2FF;
  --color-secondary: #626262;
  --color-error: #EB5757;
  --color-success: #27AE60;
  --color-white: #fff;
  --color-black: #000;
  --color-CF0: #F0F0F0;
  --color-CD1: #D1D1D1;
  --color-C12: #129BA4;
  --color-CF2: #F2F2F2;
  --color-C90: #909090;
  --color-C92: #929292;
  --color-CE8: #E8E8E8;
  --color-CAA: #AAAAAA;
  --color-CEB: #EBEBEB;
  --color-CE1: #E1E1E1;
  --color-CD5: #D5F4F7;
  --color-C62: #626262;
  --color-CEA: #EAF2FF;
  --color-C2C: #2C2C2C;
  --color-C91: #9198a0;
  --base-input-height: 38px;
  --base-font-size: 14px;
  --base-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  --lg-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}
